WS-composicao-fluxo-alternativo/opCompositeApp/src/jbiServiceUnits/OperationsBpel/localhost_8080/Operations/Operations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://operations.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://operations.me.org/" name="Operations">
<types>
<xsd:schema>
<xsd:import namespace="http://operations.me.org/" schemaLocation="http://localhost:8080/Operations/Operations?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Operations">
<operation name="add">
<input wsam:Action="http://operations.me.org/Operations/addRequest" message="tns:add"/>
<output wsam:Action="http://operations.me.org/Operations/addResponse" message="tns:addResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://operations.me.org/Operations/multRequest" message="tns:mult"/>
<output wsam:Action="http://operations.me.org/Operations/multResponse" message="tns:multResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://operations.me.org/Operations/helloRequest" message="tns:hello"/>
<output wsam:Action="http://operations.me.org/Operations/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="OperationsPortBinding" type="tns:Operations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operations">
<port name="OperationsPort" binding="tns:OperationsPortBinding">
<soap:address location="http://localhost:8080/Operations/Operations"/>
</port>
</service>
</definitions>